@import 'tailwindcss';
@import './css/fonts.css';
@import './css/variables.css';

/* CSS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100vh;

  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-geist);

  background-color: var(--bg);

  color-scheme: light dark;
  color: var(--text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select {
  outline: none;
  border-radius: var(--radius-md);
  transition: var(--transition);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--color-primary);

  box-shadow: 0 0 0 3px rgba(0, 216, 255, 0.15);
}

/* COLOR PICKER */
input[type='color'] {
  border: 2px solid #999;
  border-radius: 15px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  width: 60px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch,
input[type='color']::-moz-color-swatch {
  border: none;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
}

p {
  color: var(--text-secondary);
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  opacity: 0.85;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}
